.navbar{
    background: #d62233;
}

.navbar {
    background: #000000;
}


    .navbar a{
        color: #a60404;
    }

    #reproductor {
        display: none;
    }
    
    
    #signal {
        color: red;
    }
    
    
    